:root {
  --color-red: #b91547;
  --color-grey: #c5c5c5;
  --color-dark-grey: #757575;
}

body {
  background-color: var(--color-red);
}

.ag-text-color-red {
  color: var(--color-red);
}

.ag-bg-btn-color-grey {
  background-color: var(--color-grey);
}

.ag-bg-color-dark-grey {
  background-color: var(--color-dark-grey);
}

.container-info button {
  border-radius: 3px;
}
